.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}



/* ******************** header ****************** */

header {

    padding: 24px 3%;


    display: flex;
    justify-content: space-between;
    align-items: center;

    /* background-color: black; */
}


.fa-bars {
    display: none;
}

.header_ul {
    display: flex;
    gap: 24px;

}

.li_a {
    font-weight: 500;
    font-size: 16px;
    color: #000000;

}


.header_button {

    padding: 12px 36%;

    border-radius: 30px;

    background-color: #000000;

    font-weight: 700;
    font-size: 16px;
    color: #F3F3F3;
}

/* ************ section1 ************* */

.section_first {

    width: 80%;
    margin: auto;

    margin-top: 90px;

    display: flex;
   justify-content: space-between;
    align-items: center;

    
}

.section1_hp{
   
    width: 40%;
    
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.section1_h3 {
    font-weight: 900;
    font-size: 56px;
    color: #000000;
}

.section1_p {
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.button_title{
    
    width: 70%;
    margin-top: 40px;
    
    display: flex;
    align-items: center;
    gap: 44px;
    
}

.section_button{
   
    
    padding: 12px 24%;
    
    border-radius: 30px;

    background-color: #000000;

    font-weight: 700;
    font-size: 16px;
    color: #F3F3F3;
}

.button_p {
    font-weight: 600;
font-size: 14px;
color: #000000;
}

/* ************ article *********** */

.article{
    
    width: 100%;
    height: 256px;
    margin-top: 64px;

    background: #F3F3F3;;
    
}