@media(max-width: 1000px) {

    .section_first {
        width: 92%;
    }

    .section1_hp {
        width: 100%;
        align-items: center;
        padding: 0px 15px;
    }

    .section1_h3 {
        font-size: 40px;
        font-weight: 900;
    }

    .section1_p {

        width: 90%;
        text-align: center;

        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
    }

    .button_title {
        flex-direction: column;
        row-gap: 24px;
        text-align: center;
    }

    .button_a {
        width: 90px;
        height: 48px;
    }

    .section1_img {
        height: 499px;
        width: 100%;
    }

    /* ********* article ******** */

    .article {
        margin-top: 0;
        height: auto;

        flex-direction: column;
        align-items: center;

    }

    .article_card {
        width: 80%;
    }

    .eclipse_h4,
    .articlecard_h4 {
        text-align: center;
        justify-content: center;


    }

    .articlecards_p {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        text-align: center;
    }

    /* ********** black section ********* */

    .black_section {
        padding: 24px;

        row-gap: 29px;

    }

    .black_hp_container {
        flex-direction: column;
        margin: 0;
        padding: 0;

    }

    .black_title,
    .black_lorem {
        width: 84%;
        text-align: center;

    }

    .black_lorem {
        width: 76%;
    }

    .mini {
        width: 60%;
        height: 20px;
    }

    /* ********** image section *********  */

    .sectionimg_container {
        height: 500px;

    }


}

/* ********900px********** */

@media(max-width: 900px) {
    .article_card {
        width: 95%;
    }

    .footer_container {
        width: 50%;
        gap: 20px;
    }
}